.reservation-calendar-container {
  width: 100%;
  padding: 1rem;
}

.reservation-detail-container {
  width: 100%;
}

.reservation-detail-container .schedule-info {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.reservation-detail-container .schedule-item {
  width: 100%;
  margin-bottom: 1rem;
}

.reservation-detail-container .btn-green {
  background-color: aquamarine;
  border-color: transparent;
  color: black;
}
