.company-member-info-container {
  width: 100%;
  height: 100%;
  padding: 1%;
  margin: 1% 0;
}

.company-member-info-container .title {
  padding: 1%;
}

.company-member-info-container table,
.company-member-info-container table * {
  text-align: center;
  vertical-align: middle;
}

.company-member-info-container .ant-table-thead * {
  text-align: center;
  vertical-align: middle;
}
