.notice-container {
  width: 100%;
  height: 100%;
}

.notice-container .notice-item {
  width: 100%;
  margin-bottom: 1rem;
}

.notice-container .notice-item .notice-info {
  width: 100%;
}

.notice-container .notice-item .notice-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

.notice-container .btn-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
